.main-nav {
  background-color: #898989;
  letter-spacing: 0.01em;
  position: absolute;
  z-index: 2;
  width: calc(~"100% - 28px");
  left: 14px;
  display: none;

  @media (min-width: @screen-sm) {
    display: block;
    position: static;
    width: 100%;
  }

  &__list {
    list-style-type: none;

    @media (min-width: @screen-sm) {
      font-size: 18px;
      line-height: 1em;
      text-transform: uppercase;
      display: table;
    }
  }

  &__item {

    @media (min-width: @screen-sm) {
      display: inline-block;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 0.5em;
    background-color: inherit;
    text-align: center;
    color: @white;
    min-width: 107px;

    @media (min-width: @screen-sm) {
      display: inline-block;
    }

    &--bg-blue {
      background-color: #00aedb;
    }

    &--bg-green {
      background-color: #8cc63f;
    }

    &--bg-purple {
      background-color: #5261ac;
    }

    &--bg-orange {
      background-color: #f78f1d;
    }

    &--bg-red {
      background-color: #ff0000;
    }
  }

  &--is-active {
    display: block;
  }
}