.page-header {
  padding: 14px;
  padding-top: 11px;
  position: relative;
  display: table;
  width: 100%;

  &__logo {
    display: inline-block;
    width: 30%;
  }

  &__search-form {
    display: inline-block;
    padding-top: 28px;
    width: 45%;

    @media (max-width: (@screen-sm - 1)) {
      display: none;
    }
  }

  &__social-links {
    padding-top: 28px;
    display: inline-block;
    width: 25%;

    @media (max-width: (@screen-sm - 1)) {
      display: none;
    }
  }

  &__navigation {
    padding-top: 14px;
  }
}