/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@facebook-name: 'facebook';
@facebook-x: 0px;
@facebook-y: 69px;
@facebook-offset-x: 0px;
@facebook-offset-y: -69px;
@facebook-width: 38px;
@facebook-height: 36px;
@facebook-total-width: 187px;
@facebook-total-height: 105px;
@facebook-image: '../img/sprite-png.png';
@facebook: 0px 69px 0px -69px 38px 36px 187px 105px '../img/sprite-png.png' 'facebook';
@logo-name: 'logo';
@logo-x: 0px;
@logo-y: 0px;
@logo-offset-x: 0px;
@logo-offset-y: 0px;
@logo-width: 187px;
@logo-height: 65px;
@logo-total-width: 187px;
@logo-total-height: 105px;
@logo-image: '../img/sprite-png.png';
@logo: 0px 0px 0px 0px 187px 65px 187px 105px '../img/sprite-png.png' 'logo';
@rss-name: 'rss';
@rss-x: 42px;
@rss-y: 69px;
@rss-offset-x: -42px;
@rss-offset-y: -69px;
@rss-width: 38px;
@rss-height: 36px;
@rss-total-width: 187px;
@rss-total-height: 105px;
@rss-image: '../img/sprite-png.png';
@rss: 42px 69px -42px -69px 38px 36px 187px 105px '../img/sprite-png.png' 'rss';
@twitter-name: 'twitter';
@twitter-x: 84px;
@twitter-y: 69px;
@twitter-offset-x: -84px;
@twitter-offset-y: -69px;
@twitter-width: 38px;
@twitter-height: 36px;
@twitter-total-width: 187px;
@twitter-total-height: 105px;
@twitter-image: '../img/sprite-png.png';
@twitter: 84px 69px -84px -69px 38px 36px 187px 105px '../img/sprite-png.png' 'twitter';
@spritesheet-width: 187px;
@spritesheet-height: 105px;
@spritesheet-image: '../img/sprite-png.png';
@spritesheet-sprites: @facebook @logo @rss @twitter;
@spritesheet: 187px 105px '../img/sprite-png.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
