.brief {
  padding-top: 0.7em;
  padding-bottom: 1em;
  position: relative;
  padding-left: 90px;
  min-height: 97px;

  &:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
  }

  &__cover {
    width: 81px;
    height: 97px;
    position: absolute;
    top: 13px;
    left: 0;
    border: 1px solid #e2e2e2;
    padding: 3px;
  }

  &__cover-inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    color: #00aedb;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-top: 0;
    max-width: 20em;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
    max-width: 20em;
    font-size: 13px;
    line-height: 17px;
  }
}