.item {
  padding: 14px;

  p {
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
  }

  &__title {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-top: 0;

    @media (min-width: @screen-sm) {
      font-size: 35px;
      line-height: 47px;
    }
  }
}