.interesting {

  &__header {
    background-color: #5261ac;
    color: @white;
    padding: 10px 14px;
    display: inline-block;
    position: relative;
    margin-bottom: 4px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      border: 38px solid transparent;
      border-bottom: 0 solid #5261ac;
      border-left: 40px solid #5261ac;
    }

    h1 {
      font-size: 17px;
      line-height: 1.1em;
      letter-spacing: 0.01em;
      color: currentColor;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &__nav {

    ul {
      list-style-type: none;
      display: table;
      width: 100%;
    }

    li {
      display: inline-block;
      width: 33.333%;
      text-align: center;
      color: @white;
      font-size: 19px;
      line-height: 1.2em;
      text-transform: uppercase;

      &:nth-child(1) {
        background-color: #ec098d;
      }

      &:nth-child(2) {
        background-color: #f78f1d;
      }

      &:nth-child(3) {
        background-color: #00aedb;
      }

      a {
        width: 100%;
        display: inline-block;
        color: currentColor;
        padding: 0.5em;
      }
    }
  }
}