.visitors-likes {

  &__header {
    background-color: #5261ac;
    color: @white;
    padding: 12px 14px;
    margin-bottom: 4px;

    h1 {
      font-size: 17px;
      line-height: 1.1em;
      letter-spacing: 0.01em;
      color: currentColor;
      margin: 0;
      text-transform: uppercase;
    }
  }
}