.visitor-review {
  position: relative;
  padding-left: 90px;
  min-height: 75px;
  margin-top: 1em;

  &__cover {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e2e2e2;
    padding: 3px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    font-size: 13px;
    line-height: 17px;
    padding-top: 5px;

    p {
      max-width: 20em;
      margin-top: 0;
    }

    a {
      color: #00aedb;
    }
  }
}