.burger {
  position: absolute;
  right: 1em;
  top: 2em;
  width: 50px;
  height: 50px;
  z-index: 3;

  @media (min-width: @screen-sm) {
    display: none;
  }

  span {
    background-color: @text-color;
    width: 40px;
    height: 2px;
    position: absolute;
    border-radius: 2px;
    top: 20px;
    left: 5px;

    &::before {
      background-color: @text-color;
      width: 40px;
      height: 2px;
      position: absolute;
      border-radius: 2px;
      content: '';
      left: 0;
      top: 10px;
    }
  }
}