.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 17px;

  &__shape-up,
  &__shape-down {
    display: none;
    position: absolute;
    right: -1px;
    transform: translateX(100%);

    @media (min-width: @screen-md) {
      display: block;
    }
  }

  &__shape-up {
    top: 0;
  }

  &__shape-down {
    bottom: 0;
  }
}