.search-form {
  position: relative;

  input[type="text"] {
    display: block;
    padding: 11px;
    padding-left: 27px;
    padding-right: 145px;
    float: left;
    height: 36px;
    border: 1px solid #e2e2e2;
    width: 100%;
  }

  button[type="button"] {
    font-size: 19px;
    font-weight: 700;
    background-color: #00aedb;
    color: @white;
    padding: 8px 24px 7px 27px;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-family: @font-family;
  }
}